# pip index versions PACKAGE_NAME to check the available versions

# Core packages
numpy
pandas
matplotlib
statsmodels
scikit-learn
scipy
sqlalchemy

# Modeling
xgboost
pygam

# Testing
pytest

# Development
lazy_loader

# Others
tqdm
openpyxl
ipykernel
pyarrow
polars
cryptography

# Reporting
reportlab
PyPDF2