# pip index versions PACKAGE_NAME to check the available versions

# Core packages
numpy
pandas
matplotlib
statsmodels
scikit-learn
scipy
sqlalchemy

# Computing
numexpr
numba

# Modeling
xgboost
pygam

# Testing
pytest

# Development
lazy_loader
line_profiler
tqdm
pyyaml
seaborn

# Others
ipykernel
pyarrow
polars
cryptography
argon2-cffi

# Reporting
reportlab
pypdf
openpyxl