# pip index versions PACKAGE_NAME to check the available versions

# Core packages
numpy
pandas
matplotlib
statsmodels
scikit-learn
scipy
sqlalchemy
seaborn
polars

# Computing
numexpr
numba

# Modeling
xgboost
pygam

# Testing
pytest

# Development
lazy_loader
line_profiler
tqdm
pyyaml

# Others
ipykernel
pyarrow
cryptography
argon2-cffi
fastparquet

# Reporting
reportlab
pypdf
openpyxl